@model MoonlightGID.Models.JobsReviewRepository

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Job Name
            </dt>
            <dd class="col-sm-10">
                @Model.Jobs[0].JobName
            </dd>
            <dt class="col-sm-2">
                Job Category
            </dt>
            <dd class="col-sm-10">
                @Model.Jobs[0].JobType
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                @Model.Jobs[0].Description
            </dd>
            <dt class="col-sm-2">
                Estimated Price
            </dt>
            <dd class="col-sm-10">
                @Model.Jobs[0].Price
            </dd>
            <dt class="col-sm-2">
                Service Provider
            </dt>
            <dd class="col-sm-10">
                @Model.Jobs[0].Company.CompanyLogin
            </dd>
            <dt class="col-sm-2">
                Reviews:
            </dt>
            <dd></dd>
            @foreach (Reviews r in Model.Reviews)
            {
                <hr />
                <dt class="col-sm-2">
                    Rating: @r.Rating
                </dt>
                <hr />
                <dd class="col-sm-10">
                    @r.ReviewContent
                </dd>
            }
        </dl>
        <hr />
    </div>
<div>
    <a asp-action="Contact" asp-route-id="@Model.Jobs[0].CompanyId,@Model.Jobs[0].JobId">Contact @Model.Jobs[0].Company.CompanyName</a> |&nbsp;
    <a asp-action="JobSearch" asp-route="@Model.Jobs[0].Description"> Return to List</a>
</div>
